* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

:root {
    --primary-color: #1ebfc1;
}

/* Common */
a {
    display: inline-block;
    text-decoration: none;
}

.btn {
    width: 186px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    border-radius: 14px;
    font-size: 1.6rem;
}

.btn:hover {
    opacity: 0.9;
}

.desc.lv1 {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: auto;
}

.section {
    letter-spacing: 8px;
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.heading.lv2 {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}

/* Header */
.header {
    margin-top: 40px;
    background-color: #fff;
}

.header.fixed {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header .body {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .icon {
    cursor: pointer;
}

.header nav ul {
    display: flex;
    gap: 0 39px;
}

.header nav a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.header nav li.active a {
    font-weight: 600;
}

.header .sign-in-btn,
.header .sign-up-btn {
    width: 108px;
    height: 48px;
    line-height: 48px;
}

.header .sign-in-btn {
    color: #494949;
    font-weight: 400;
}

.header .sign-in-btn:hover {
    color: var(--primary-color);
}

.header .sign-up-btn {
    margin-left: 24px;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    transition: ease 0.3s;
}

.header .sign-up-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Hero */
.hero {
    margin-top: 50px;
    padding-bottom: 79px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

/* Hero left */

.hero .content {
    width: 39%;
    padding: 93px 0;
}

.hero .slogan {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .heading.lv1 {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero .desc {
    margin: 46px 84px 0 0;
    line-height: 1.77;
}

.hero .cta-group .btn {
    margin-top: 52px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    background: #1ebfc1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

.hero .cta-group .play {
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: none;
    background: #fff;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

/* Hero right */
.hero .media-block {
    position: relative;
    top: 0;
    right: 0;
}

.hero .media-block .img {
    padding-left: 65px;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero-courses,
.hero-students,
.hero-schedules {
    position: absolute;

    display: flex;
    align-items: center;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .label {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero-courses {
    left: 0;
    top: 149px;
    padding: 17px 25px 18px;
    width: 157px;
}

.hero-courses .icon-book {
    position: relative;
    width: 36px;
    height: 40px;
    background-color: #ff8282;
    border-radius: 6px 4px 4px 6px;
}

.hero-courses .icon-book::after {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
}

.hero-courses .info {
    margin-left: 16px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero-courses .info .count {
    margin-top: 6px;
}

.hero-schedules {
    left: 0;
    bottom: 46px;
    width: 124px;
    padding: 16px 25px 19px;
    flex-direction: column;
    border-radius: 24px;
}

.hero-schedules .range-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px 0;
}

.hero-schedules .range-item {
    position: relative;
    width: 74px;
    height: 6px;
    border-radius: 6px;
    background-color: #edf1f5;
}

.hero-schedules .range-item::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 6px;
    border-radius: 6px;
    background-color: #fb9899;
}

.hero-schedules .range-item:first-child::after {
    width: 50%;
}

.hero-schedules .range-item:nth-child(2)::after {
    width: 60%;
}

.hero-schedules .range-item:nth-child(3)::after {
    width: 40%;
}

.hero-schedules .range-short {
    width: 26px;
}

/* Hero students */
.hero-students {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 45px;
    bottom: 46px;
    padding: 17px 33px;
    width: 207px;
    border-radius: 24px;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero-students .students-list {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.hero-students img:first-of-type {
    margin-left: 0;
}

.hero-students img,
.hero-students .students-more {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.hero-students img {
    margin-left: -8px;
}

.hero-students .students-more {
    margin-left: -8px;
    display: inline-block;
    line-height: 33px;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    background-color: #1ebfc1;
}

/* Featues */
.features {
    margin-top: 130px;
}

.features .body {
    margin-right: 146px;
}

.features-top {
    width: 590px;
}

.features-top .lv2 {
    margin-top: 18px;
}

.features-top .desc {
    margin-top: 18px;
}

.features .features-list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.features-item {
    max-width: 225px;
}

.features-item img {
    width: 102px;
    height: 106px;
}

.features-item .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features-item .desc {
    margin-top: 16px;
}

/* Courses */
.courses {
    margin-top: 130px;
}

.courses .courses-top .heading {
    margin-top: 18px;
}

.courses .courses-top .group-view {
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .courses-top .desc {
    width: 525px;
}

.courses .courses-top .btn-view {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.courses-list {
    margin-top: 79px;
    display: flex;
    gap: 0 47px;
}

.courses-item {
    position: relative;
}

.courses-item img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
}

.courses-item .info {
    position: absolute;
    bottom: -135px;
    left: 17px;
    z-index: 1;
    padding: 18px 25px 29px;
    width: 325px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.courses-item .title,
.courses-item .desc strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-item .desc {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.courses-item .desc.lv1 {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.courses-stats {
    margin: 18px 0 0 18px;
    display: flex;
    gap: 0 30px;
}

.courses-item {
    list-style-type: disc;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.courses-item::marker {
    color: #1ebfc1;
}

/* Stats */
.stats {
    margin-top: 265px;
}

.stats .main-content {
    width: 862px;
}

.stats .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats .desc {
    margin-top: 11px;
}

/* Feedback */
.feedback {
    margin-top: 264px;
}

.feedback .body {
    display: flex;
    justify-content: space-between;
}

/* Feedback content */
.feedback .content {
    width: 36%;
}

.feedback .desc {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.feedback .actor {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.feedback .actor strong {
    color: #070707;
    font-weight: 500;
}

.feedback .cta-group {
    margin-top: 52px;
    display: flex;
}

.feedback .cta-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2ac9bf;
    cursor: pointer;
    border: none;
}

.feedback .chevron-left {
    margin-right: 30px;
}

/* Feedback images */
.feedback .images {
    position: relative;
    width: 58%;
}

.feedback .images img:first-child,
.feedback .images img:nth-child(2),
.feedback .images img:nth-child(3),
.feedback .images img:nth-child(4),
.feedback .images img:nth-child(5),
.feedback .images img:nth-child(6) {
    position: absolute;
    border-radius: 50%;
}

.feedback .images img:first-child {
    top: 258px;
    width: 92px;
    height: 92px;
}

.feedback .images img:nth-child(2) {
    left: 144px;
}

.feedback .images img:nth-child(3) {
    top: 403px;
    left: 212px;
}

.feedback .images img:nth-child(2),
.feedback .images img:nth-child(3),
.feedback .images img:nth-child(6) {
    width: 78px;
    height: 78px;
}

.feedback .images img:nth-child(4) {
    top: 107px;
    left: 273px;
    width: 235px;
    height: 235px;
}

.feedback .images img:nth-child(5) {
    top: 19px;
    left: 569px;
    width: 110px;
    height: 110px;
}

.feedback .images img:nth-child(6) {
    top: 374px;
    left: 569px;
}

/* Action */
.call-to-action {
    margin-top: 206px;
    padding: 76px 135px 88px;
    background: #def6f5;
}

.call-to-action .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action .desc {
    margin-top: 18px;
}

.call-to-action .btn {
    margin-right: 154px;
    background: #2ac9bf;
    color: #fff;
}
